$primary-color: rgba(255, 185, 119, 0.945);
$secondary-color: #090b6bda;
$bg-shading-color: rgba(29, 29, 31, 0.815);
$bg-color: rgba(25, 25, 26, 0.815);
$fg-color: rgba(252, 247, 247, 0.966);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    color: $fg-color;
}

#main {
    width:auto;
    height:auto;
    color:$fg-color;
    background-color: $bg-shading-color;
}

#app {
    width:auto;
    height:auto;
    color:$fg-color;
    background-color: $bg-shading-color;
}

#button-rounded-one{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    justify-content: center;
    color: $fg-color;
    background-color: $primary-color;
    box-shadow: 0 0 3rem $bg-shading-color;
}